@model Movie

@{
    ViewData["Title"] = "Add a Movie";
}

<h1>Add a Movie</h1>

@using (Html.BeginForm())
{
@Html.LabelFor(x => x.Name)
@Html.TextBoxFor(x => x.Name)

<input id="AddM" type="submit" value="Add" />
}