@model Movie

@{
    ViewData["Title"] = "Add a Movie";
}

<h1>Add a Movie</h1>

@using (Html.BeginForm())
{
    Html.RenderPartial("MovieForm",Model);

    <input id="AddM" type="submit" value="Add" class="btn btn-primary"/>
}