@model IEnumerable<Movie>;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @Html.ActionLink("Create movie", "AddMovie")
    <table>
        <tr>
            <th>Movie name</th>
        </tr>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@movie.Name</td>
                <td>@Html.ActionLink("Update movie", "UpdateMovie", new { movie.MovieId })</td>
                <td>@Html.ActionLink("Delete movie", "DeleteMovie", new { movie.MovieId })</td>
            </tr>
        }
    </table>
    <div id="test"></div>
</div>
