@model Movie

@{
    ViewData["Title"] = "Update Movie";
}

<h1>Update Movie</h1>
@using (Html.BeginForm())
{
    Html.RenderPartial("MovieForm",Model);

    <input id="updateM" type="submit" value="Save" class="btn btn-primary"/>
}